<configuration>

    <!-- Console appender for local debugging (this writes to stdout in GKE) -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"message": "%msg", "severity": "%level", "timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}"}</pattern>
        </encoder>
    </appender>

    <!-- Google Cloud Logging appender -->
    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
        <log>projects/dryruns/logs/springboot-log</log> <!-- Set your GCP project ID -->
    </appender>

    <!-- Root logger to output INFO and above to Google Cloud Logging -->
    <root level="INFO">
        <appender-ref ref="Console" /> <!-- Logs to stdout for debugging -->
        <appender-ref ref="CLOUD" />   <!-- Sends logs to Google Cloud Logging -->
    </root>

</configuration>
